/*
==============================
CSS RESET
==============================
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.25;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    margin-top: 0.5em;
}

a:link, ul:link, li:link {
    text-decoration: none;
    color: inherit;
}

a:visited, ul:visited, li:visited {
    text-decoration: none;
    color: inherit;
}


/*
==============================
BASE
==============================
*/


* {    
    -webkit-font-smoothing:antialiased;
}

body {
/*    background-color: white;*/
    
}

.container {
    width: 100%;
    height: 100%;
}


.menu {
    display: block;
    margin: 2em 0 4em 2em;
}

h1 {
    font-size: 14pt;
    font-family:helvetica, sans-serif;
/*    text-transform: uppercase;*/
    margin-top: 80px;
    margin-bottom: 10px;
    color: black;
    opacity: 0.5;
}

a:hover {
    color: blue;
}

li {
    font-family:serif;
    font-size: 5em;
    line-height:1em;
}

@media only screen and (max-width:900px) {
    li {
        font-size: 2em;
    }
    h1 {
        margin-top:50px;
    }
}

.menu-button {
    position: fixed;
    z-index: 500;
    width: 200px;
    height: 200px;
    
    right: 2em;
    top: 2em;
    
    font-family: sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: blue;

    
    border: solid 3px blue;
    border-radius: 50%;
}

.menu-button:hover {
    color: lightgray;
    background-color: blue;
    cursor: pointer;
}
.menu-button a:hover {
    color: lightgray;
}

.vertical {

    padding: 40% 0 0 0;
}



