/*
====================
MOBILE FIRST
====================
*/



* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: #4d4d4d;
    font-size: 100%;
    padding: 5em 0;
}

.main-logo {
    width: 300px;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 500;
}

  
.header-bar {
    width: 100%;
    margin:0;
    position:fixed;
    top:0;
    background-color: white;
    z-index: 100;
    }  
  
.nav-container {
    float:right;
    background-color: white;
    }

.topnav {
    overflow: hidden;
    font-family:Arial;
    }

.topnav a {
    float: left;
    display: block;
    color: #3c3c3c;
    text-align: center;
    padding: 14px 16px;
    margin: .5em;
    text-decoration: none;
    font-size: 18px;
    }


.topnav .icon {
  display: none;
}


.topnav a:hover {
  background-color: #3d429e; 
  border-radius: 25px;
  color: white;
}

@media screen and (max-width: 900px) {
  .topnav a/* :not(:first-child) */ {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .topnav.responsive {float: none;}
  .topnav.responsive {position: relative;}
  .topnav.responsive {
    display: block;
    width: 100%;
    text-align: center;
  }
}


.module {
    background-color: none;
    padding: 10% 40px;
    max-width: 70%;
    margin:auto;
}

.nav-container .cta-box {
    border: 2px solid #3d429e;
    border-radius: 20px;
    color: #4d4d4d;
    }



.cta {
    display: block;
    width: 170px;
    margin: 80px auto;
    background-color: #d95959;
    padding: 16px 10px;
    border-radius: 25px;
    
    font-family: Arial, sans-serif;
    color: white;
}

.cta:hover {
    opacity: .85;
}


.section-one .cta {
    background-color: #3d429e;
}

.section-two .cta {
    background-color: #e3a187;
}

.section-three .cta {
    background-color: #78b0bd;    
}

.section-four .cta {
    background-color: #214a78;
}

.section-five .cta {
    background-color: #d95959;
}


h1 {
    font-weight: normal;
    font-family: UntitledSerifTest-Regular, Times New Roman, serif;
    font-size:5vw;
    line-height: 1em;
    margin: 80px auto;
}

h2 {
    margin: 50px auto;
    font-weight: normal;
    font-family: UntitledSerifTest-Regular, Times New Roman, serif;
    font-size: 2.5em;
    margin-top: 50px;
    margin-bottom: 50px;
}


a {
    text-decoration: none;
    color: inherit;
}


.centered {
    text-align: center;
}

p {
    font-family: arial, sans-serif;
    font-size: 20px;
    color: grey;
}

.module ul {
    font-family: arial, sans-serif;
    list-style-type:decimal;
    padding: none;
    margin: none;
}

.quote {
    display: block;
    font-family: UntitledSerifTest-Regular, Times New Roman, serif;
    font-size: 2.5em;
    text-align: center;
    
    background-color: #78b0bd;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}
/*

=====================
Columns
=====================
*/

* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1400px) {
    .column {
        width: 100%;
    }
}

.two-column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .two-column {
        width: 100%;
    }
}