.sect-1 {
 height: 1400px;
    width: 50%;
 overflow: hidden;
 position: relative;
    margin: auto;
}



.sect-1 p {
    font-family: serif;
    font-size: 2em;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 45px;
 text-align: left;
 /* Starting position */
 -moz-transform:translateY(-100%);
 -webkit-transform:translateY(-100%);	
 transform:translateY(-100%);
 /* Apply animation to this element */	
 -moz-animation: sect-1 1s linear infinite;
 -webkit-animation: sect-1 1s linear infinite;
 animation: sect-1 1s linear infinite;
}

    .sect-1 p:hover {

     /* Starting position */
 -moz-transform:translateY(-100%);
 -webkit-transform:translateY(-100%);	
 transform:translateY(-100%);
 /* Apply animation to this element */	
 -moz-animation: sect-1 10s linear infinite;
 -webkit-animation: sect-1 10s linear infinite;
 animation: sect-1 10s linear infinite;
}


/* Move it (define the animation) */
@-moz-keyframes sect-1 {
 0%   { -moz-transform: translateY(-100%); }
 100% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes sect-1 {
 0%   { -webkit-transform: translateY(-100%); }
 100% { -webkit-transform: translateY(100%); }
}
@keyframes sect-1 {
 0%   { 
 -moz-transform: translateY(-100%); /* Firefox bug fix */
 -webkit-transform: translateY(-100%); /* Firefox bug fix */
 transform: translateY(-100%); 		
 }
 100% { 
 -moz-transform: translateY(100%); /* Firefox bug fix */
 -webkit-transform: translateY(100%); /* Firefox bug fix */
 transform: translateY(100%); 
 }

    
