/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*

====================================
====================================
BODY
====================================
====================================
*/

body {
    background-color: white;
}


div {
    background-color: white;
    width: 100%;
    border-bottom: 4px solid black;
    display: block;
}

.header {
    background: #FDFF36;
    float: left;

}

.sect-1 {
    background: #FDFF36;
    float: left;
}

.sect-1 p {
    margin-bottom: 1em;
    padding: 0 60px;
    float: left;
}

.sect-2 {
    background: #018AFE;
    float: left;
}

.sect-2 p, h3 {
    max-width: 600px;
    position: relative;
}

.sect-3 {
    background: #CF26C3;
    float: left;
}

.sect-4 {
    background: white;
    float: left;
}

h1 {
    font-size: 300px;
    font-weight: BOLD;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    line-height: 225px;
}

h2 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 68px;
    font-weight: normal;
    line-height: 68px;
    position: absolute;
    margin: 15px 0 0 30px;
}

h3 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 1em;
}

.call-out {
    font-family: Times, Times New Roman, Serif;
    font-size: 68px;
    display: block;
    position: relative; 
}

.header .call-out {
    font-family: Times, Times New Roman, Serif;
    font-size: 68px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 110px;
    font-style: italic;
}

p {
    margin-bottom: .4em;
    line-height: 1;
    letter-spacing: -.02em;
}

em {
    font-style: italic;
}