* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    }


body {
    text-transform: uppercase;
    font-family: sans-serif;
    }

.button-container {
    position: fixed;
    bottom: 75px;
    left: 75px;
        }

button {
    background: black;
    color: white;
    border:none;
    
    font-size: 25px;
    font-family: sans-serif;
    
    width: 120px;
    height: 120px;
    border-radius: 50%;
    
    cursor: grab;
    }

.slot-one {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 33.333%;
    }

.slot-two {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 33.333%;
    width: 33.333%;
    }

.slot-three {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 33.333%;
    }

.slot-one, .slot-two, .slot-three {
    padding: 1em;
    }

.emoji-box {
    width: 100%;
}

#win {
    margin: auto;
    display: none;
    position: relative;
    top: 250px;
    height: 160px;
    width: 160px;
/*    background-image: url(../button/blowfish.png);*/
    color: white;
    text-align: center;
    }

#index {
    position: fixed;
    z-index: 500;
    color: white;
    right: 75px;
    bottom: 75px;
    font-size: 22px;
    
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
}

a:visited {
    color:white;
}